<!DOCTYPE html>
<html>
<head>
  <title>BOOKSTORE</title>
  <%= stylesheet_link_tag 'index' %>
</head>

<body>
<div class="header">
  <p>BOOK LIST!</p>
</div>

<table border="1">
  <thead class="tableHead">
  <tr>
    <th>Book Cover</th>
    <th>Isbn</th>
  </tr>
  </thead>

  <tbody class="tableBody">
  <% @books.each do |books| %>
  <tr>
    <td class="bookName">
      <a href="http://localhost:3000/books/<%= books["isbn"] %>"><%= books["name"] %></a>
    </td>
    <td><%= books["isbn"] %></td>
    <td><%= books["author"] %></td>
    <td><%= books["price"] %></td>
    <td><img src="<%= books["img_url"]%>"></td>
  </tr>
  <% end %>
  </tbody>
</table>

</body>
</html>
