<!DOCTYPE html>
<html>
<head>
  <title>BOOKSTORE</title>
  <%= stylesheet_link_tag 'index' %>
  <%= javascript_include_tag 'index' %>
</head>

<body ng-app ="myApp" >
<div class="header">
  <p>BOOK LIST!</p>
</div>
<div class="bookList">
    <% @books.each do |book| %>
        <table id="tableOfBook" border="1">
        <tr>
          <td id='img'><a href="/books/<%= book['isbn'] %>"><img src="<%= book["img_url"] %>" , width="110px", height="160px"></a></td>
          <td id="bookInfo">
            <ul>
              <li><a href="/books/<%= book['isbn'] %>"><%= book["name"] %></a></li>
              <li>Isbn :<%= book["isbn"] %></li>
              <li>Author:<%= book["author"] %></li>
              <li>Price:<%= book["price"] %></li>
            </ul>
          </td>
        </tr>
        </table>
<% end %>
</div>

</body>
</html>
